---
title: Sharded Verification
description: Access more advanced features and support with less limits for your server.
icon: octicons/verified-16
---
!!! info "Application Status"
    If you have submitted an application, please wait as depending on the queue and current status of the application, 
    it may take **1–2 Business Weeks** to receive a response. If you have not received a response after **2 weeks**, 
    please contact us on our support server.

**:octicons-verified-16: Sharded Verification** is a program that allows you to access more **advanced features, support
and fewer limits[^1]** for your server.

[^1]:
    Some may encounter rate limits to Sharded Services if being abused, or massive numbers of requests are being sent to
    Sharded Services. 